.App {
  text-align: center;
}

.propertyFacts {
  display: inline
}

.prompts {
  font-size: 14px;
}

#floodCheck {
  accent-color: red;
  width: 18px;
  height: 18px;
}

ul {
  text-align: left;
  text-indent: 35%;
  list-style-position: inside;
}

li {
  font-weight: bold;
}

#check {
  display: inline
}

#feedbackText {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submitButton {
  border: none;
  padding: 10px 28px;
  border-color: rgb(172, 145, 197);
  border-radius: 16px;
  color: white;
  background-color: rgb(172, 145, 197);
  box-shadow: none;
  margin-top: 20px;
}
